.container{
    color: white;
    display: flex;
    justify-content: center;
    width: 100%;
    min-height: 70vh;
    align-items: center;
}

#left, #middle, #right{
    width: 300px;
    background-color: rgb(243, 242, 242);
    min-height: 315px;
    border-radius: 5px;
    margin: 10px;
}

.list{
    background-color: rgb(215, 215, 215);
    height: 50px;
    border-radius: 10px;
    margin: 30px;
    color: black;
    padding-left: 10px;
    display: flex;
    align-items: center;
    cursor: grab;
}